.findFriends {
   min-height: 50vh;
   min-width: 100vw;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   background: radial-gradient(circle at 0 0, #f669, #0665) no-repeat, #0005;
}
.findFriends .results {
   display: flex;
   max-width: 600px;
   gap: 10px;
}